a {
    text-decoration: none;
    color: var(--black-color);
}
::-webkit-scrollbar {
    background-color: var(--white-color);
    width: 10px;
    border-radius: 100px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--black-color);
    border-radius: 100px;
}
::-webkit-scrollbar-track {
    background-color: var(--white-color);
    border-radius: 100px;
}
#main-news{
    text-align: left;
    font-size: 1.4em;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    height: auto;
}
#title-news span{
    color: darkorange;
}
#title-news{
    font-family: var(--font-Krona);
    margin-bottom: 2rem;
    padding-top: 1rem;
    color: var(--black-color);
}
h4 {
    font-family: var(--font-Krona);
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
    color: var(--black-color);
    font-size: clamp(1rem, 2vw, 1.5rem);
}
#main-news-container {
    width: 95%;
    margin: 0 auto;
    height: 100%;
}
#destaques {
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}
.major-news {
    width: 90%;
}
.major-news  a {
    filter: brightness(0.5);
    transition: .5s;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.major-news a:hover {
    filter: none;
}
.major-img {
    width: 100%;
    position: relative;
}
.major-text {
    font-family: var(--font-Krub);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    border-left: 10px solid var(--orange-color);
}
.major-img img {
    max-height: 420px !important;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.outhers-news {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95%;
    gap: 20px;
}
.secundary-news {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.outhers-news  a {
    height: 55%;
    filter: brightness(0.5);
    transition: .5s;
}
.outhers-news a:hover {
    filter: none;
}
.secundary-news p {
    font-family: var(--font-Krub);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    border-left: 10px solid var(--orange-color);
}
.container-secundary-img {
    width: 60%;
}
.container-secundary-img-1{
    width: 100%;
    height: 100%;
    background-image: url(/public/img/empresarios-corporativos-apertando-as-maos_53876-31495.avif);
    background-size: cover;
    background-position-y: center;
    border-radius: 20px;
}
.container-secundary-img-2{
    width: 100%;
    height: 100%;
    background-image: url(/public/img/notebook.jpg);
    background-size: cover;
    background-position-y: center;
    border-radius: 20px;
}
.container-secundary-text {
    height: 50%;
}
/*SECTION DESTAQUES CONFIG*/
/*CARDS CONFIG*/
#cotacoes-cards {
    margin: 2rem auto;
    padding: 1rem 2rem;
    display: flex;
    gap: 10px;
    width: 95%;
    overflow-x: auto;  /* Alteração: Mudança de 'scroll' para 'auto' */
    white-space: nowrap;  /* Alteração: Impede que os elementos quebrem para a próxima linha */
}
#cotacoes-cards::-webkit-scrollbar {
    background-color: var(--white-color);
    width: 10px;
    border-radius: 100px;
}
#cotacoes-cards::-webkit-scrollbar-thumb {
    background-color: var(--black-color);
    border-radius: 100px;
}
#cotacoes-cards::-webkit-scrollbar-track {
    background-color: var(--white-color);
    border-radius: 100px;
}
.card-coin {
    height: 100px;
    box-shadow: 10px 10px 15px -16px rgba(0,0,0,.75);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    border-radius: 15px;
    font-weight: bolder;
    padding-left: 15px;
    font-size: 0.8em;
    font-family: var(--font-Krona);
}
.card-coin p {
    margin-right: 1rem;
    margin-bottom: 0px !important;
}
.coin > p strong{
    background-color:  rgb(238, 141, 22);
    padding: 20px;
    border-radius: 100px;
}
.green > p{
    color: green;
    font-weight: bolder;
}
.red > p{
    color: red;
    font-weight: bolder;
}
/*CARDS CONFIG*/
#last-news {
    margin-top: 2rem;
    width: 95%;
    margin: 0 auto;
    display: flex;
    height: 400px;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
}
.last-img-news {
    height: 90%;
    width: 50%;
    display: flex;
    align-items: center;
}
.last-img-news img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.last-container-text {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.last-container-text h2 {
    color: var(--orange-color) !important;
    font-family: var(--font-Krona);
    margin-bottom: 2rem;
    padding-top: 1rem;
    font-size: 1.75rem;
}
.last-container-text h4 {
    color: var(--black-color);
    line-height: 2rem;
    font-size: 18px;
}
#info-acess {
    display: flex;
    width: 95%;
    margin: 0 auto;
    height: 300px;
    justify-content: space-around;
    margin-bottom: 2rem;
}
#acess-text {
    font-family: var(--font-Krona);
    margin-bottom: 0.5rem;
    color: var(--black-color);
    line-height: 1.25em;
    font-size: clamp(1rem, 3.4783vw, auto);
    max-width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#acess-text h4 {
    border-left: 5px solid var(--orange-color);
    padding-left: 10px;
    font-size: clamp(1rem, 2vw, 1.5rem);
}
#acess-container-info {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.acess-card {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    border-radius: none !important;
}
.acess-card img {
    width: 200px;
    height: 100%;
    object-fit: cover;
    transition: 1s ease;
    filter: brightness(0.5);
}
.acess-card:hover img {
    width: 300px;
    filter: brightness(1);
}
.caption {
    position: absolute;
    bottom: 20px;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-family: var(--font-Krona);
}
.acess-card:hover .caption {
    opacity: 1;
}
.container-acess {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,.3);
    padding: 2rem;
    border-radius: 20px;
    margin-bottom: 5rem;
    animation: downAcess .3s ease-in-out;
    display: none;
}
@keyframes downAcess {
    0%{
        transform: scaleY(0);
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}
.container-acess h4{
    color: var(--orange-color);
}
.container-acess ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
}
.container-acess ul li {
    color: var(--black-color);
    font-family: var(--font-Krub);
    font-weight: 500;
    font-size: clamp(0.5rem, 3.4783vw, 1.1rem);
    list-style: square !important;
}
.container-acess ul li::marker {
    color: var(--orange-color);
    font-size: 2rem;
}
/* carrosel */
#carousels {
    display: flex;
    align-items: center;
    height: 400px;
    margin: 3rem 0px;
}
.carousel-container {
    position: relative;
    width: 100%; /* Ajuste a largura conforme necessário */
    margin: 2rem auto; /* Centralizar o container */
    overflow: hidden;
    background-color: blue;
    height: 100%;
}
.carousel-container-outher {
    position: relative;
    width: 25%; /* Ajuste a largura conforme necessário */
    margin: 2rem auto; /* Centralizar o container */
    overflow: hidden;
    filter: grayscale(1);
    background-color: green;
    height: 200px;
}

.carousel, .carousel-outher, .carousel-outher-2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    min-width: 100%;
    position: relative;
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-item-caption {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--black-color);
    color: var(--orange-color);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-family: var(--font-Krub);
    width: auto;
}
.carousel-item:hover .carousel-item-caption {
    opacity: 1;
}
.left-arrow,
.right-arrow {
    position: absolute;
    top: 50%;
    font-size: 30px;
    cursor: pointer;
    background: var(--black-color); /* Adicione um fundo para melhor visibilidade */
    padding: 10px;
    border-radius: 10px;
}
.left-arrow:hover,
.right-arrow:hover {
    background-color: var(--orange-color);
}
.left-arrow {
    left: 10px;
    color: var(--white-color);
    font-size: 2rem;
}
.right-arrow {
    font-size: 2rem;
    right: 10px;
    color: var(--white-color);
}
#container-more-btn {
    display: flex;
}
#more-news {
    width: 80%;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 14px 10px;
    border: 0.125rem solid var(--black-color) !important;
    font-size: 12px;
    font-family: var(--font-Krona);
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 2rem;
}
#more-news:active,#more-news:hover,
#more-news:focus {
    transition: color .1s ease-in-out,background-color .1s ease-in-out,border-color .1s ease-in-out;
    background-color: transparent;
    color: var(--black-color);
    transition: .8s;
}
/* skills */
#container-skills-info {
    padding: 5rem 0;
    display: flex;
    width: 90%;
    margin: 0 auto;
}
#container-skill-img {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: end;
}
#container-skill-img img{
    width: 100%;
}
#container-skills {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
.skill {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100px;
    box-shadow: 10px 10px 15px -16px rgba(0,0,0,.75);
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding-left: 15px;
    cursor: pointer;
}
.number-skill {
    background-color: rgb(238, 141, 22);
    padding: 20px;
    border-radius: 100px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-text {
    font-size: 1rem;
    font-size: clamp(1rem, 2vw, 1.3rem);
}
.skill-text {
    font-family: var(--font-Krub) !important;
}
.skill-info p {
    font-family: var(--font-Krub);
    font-size: clamp(0.9em, 3.4783vw, 1em);
    max-width: 90%;
    margin: 0 auto;
}
.skill-info {
    display: none;
}
.skill-info.active {
    display: block;
}
/* footer */
footer {
    padding: 3rem 0px;
    text-align: center;
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: var(--font-Krub);
}
#container-footer{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-links p, #container-midias-sociais p{
    padding-bottom: 1rem;
    color: var(--orange-color);
}
.footer-links a{
    padding-bottom: .5rem;
    color: var(--white-color);
}
.footer-links a:hover, .footer-links a:focus{
    color: var(--orange-color);
}
#container-midias-sociais {
    display: flex;
    gap: 30px;
}
#container-midias-sociais a{
    font-size: 2rem;
}
hr {
    width: 70%;
    margin: 2rem auto;
    color: var(--white-color);
}
footer h5 {
    color: var(--white-color);
    font-family: var(--font-Lexend);
}
/* Animações */
@keyframes leftAnimation {
    0%{

    }
    100%{

    }
}
@keyframes rightAnimation {
    0%{

    }
    100%{
        
    }
}
/* responsive */
@media screen and (max-width: 995px) {
    #destaques {
        flex-direction: column;
        height: auto !important;
    }
    .outhers-news {
        width: 100% !important;
    }
    .secundary-news {
        flex-direction: row !important;
    }
    .container-secundary-img-1, .container-secundary-img-2 {
        width: 50% !important;
        height: auto !important;
        background-position-x: center;
    }
    .container-secundary-text {
        width: 80% !important;
    }
    #cotacoes-cards {
        padding: 1rem 0rem;
    }
    #acess-container-info {
        gap: 5px;
    }
    .acess-card {
        animation: none !important;
    }
    .acess-card:hover img {
        width: 200px !important;
        filter: brightness(1);
    }
    #info-acess {
        flex-direction: column;
        width: 100% !important;
    }
    #acess-text {
        max-width: 100% !important;
        padding: 1.5rem 0;
    }
    .caption p {
        font-size: 10px;
    }
    .container-acess {
        width: 100% !important;
    }
    #last-news {
        flex-direction: column;
        height: auto !important;
        margin-top: 1rem;
        gap: 0px !important;
    }
    .last-img-news {
        width: 100% !important;
        height: 80% !important;
    }
    .last-container-text {
        width: 100% !important;
        font-size: 5px !important;
    }
    .last-container-text h2 {
        font-size: clamp(1rem, 2vw, 3rem);
        margin-bottom: 1rem !important;
    }
    .last-container-text h4 {
        line-height: 1.6rem;
        font-size: clamp(1rem, 2vw, 1rem);
    }
    .carousel-container-outher {
        display: none;
    }
    #container-skills-info {
        flex-direction: column-reverse;
        padding: 0;
        padding-bottom: 2rem;
    }
    #container-skill-img {
        width: 70%;
        margin: 0 auto;
    }
    #container-skill-img img{
        margin: 0 auto;
    }
    #container-skills {
        width: 100%;
    }
    .skill {
        padding-left: 0;
    }
    #container-footer{
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }
    .footer-links {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 2rem;
        margin: 0 auto;
    }
    .footer-links p {
        color: var(--orange-color);
        flex: 100%;
    }
    footer hr {
        margin: 1rem auto;
    }
    footer h5 {
        font-size: clamp(0.8rem, 2vw, 1rem);
    }
}