li {
    list-style: none;
}
header {
    background-color: var(--orange-color);
}
#menu {
    color: var(--white-color);
    font-size: 2rem;
    display: none;
}
header h2 {
    font-family: var(--font-Lexend);
    color: var(--white-color);
}
#home {
    display: flex;
}
#main-home {
    width: 83.93vw;
    height: 92vh;
    overflow-y: auto;
}
#main-home::-webkit-scrollbar {
    background-color: var(--white-color);
    width: 10px;
    border-radius: 100px;
}
#main-home::-webkit-scrollbar-thumb {
    background-color: var(--black-color);
    border-radius: 100px;
}
#main-home::-webkit-scrollbar-track {
    background-color: var(--white-color);
    border-radius: 100px;
}

@media screen and (max-width: 1200px) {
    aside {
        display: none;
    }
    #main-home {
        width: 100% !important;
    }
    #menu {
        display: block !important;
    }
    header {
        align-items: center;
    }
    header h2 {
        margin: 0;
    }
}