@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Krub:wght@200;300;400;500;600;700&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --orange-color: #F59115;
    --white-color: #FFFFFF;
    --gray-color: #D9D9D9;
    --black-color: #161616;
    --font-Krona: 'Krona One', sans-serif;
    --font-Krub: 'Krub', sans-serif;
    --font-Lexend: 'Lexend', sans-serif;
}
body, html {
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
}
li {
    list-style: none;
}
header {
    background-color: var(--orange-color);
}
#menu {
    color: var(--white-color);
    font-size: 2rem;
    display: none;
}
header h2 {
    font-family: var(--font-Lexend);
    color: var(--white-color);
}
#home {
    display: flex;
}
#main-home {
    width: 83.93vw;
    height: 92vh;
    overflow-y: scroll;
}
#main-home::-webkit-scrollbar {
    background-color: var(--white-color);
    width: 10px;
    border-radius: 100px;
}
#main-home::-webkit-scrollbar-thumb {
    background-color: var(--black-color);
    border-radius: 100px;
}
#main-home::-webkit-scrollbar-track {
    background-color: var(--white-color);
    border-radius: 100px;
}

@media screen and (max-width: 1200px) {
    aside {
        display: none;
    }
    #main-home {
        width: 100% !important;
    }
    #menu {
        display: block !important;
    }
    header {
        align-items: center;
    }
    header h2 {
        margin: 0;
    }
}