/* App.css */

.App {
  position: relative;
}

.LoadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8); /* Cor de fundo com opacidade */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Z-index alto para garantir que esteja na frente da página */
}
